body {
    font-family: "Courier New, sans-serif";
    font-weight: bold;
    font-size: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

table {
    table-layout: fixed;
    width: 100%;
}

td {
    text-align: center;
    font-size: 2.5vw;
    border-radius: 1.0vw;
    border: 0.25vw solid white;
    background-color: tan;
    background-position: left top;
    background-repeat: repeat;
    padding: 0.05vw;
}

#Cards td {
    height: 60px;
}


textarea {
    background: transparent;
    resize: none;
    border-radius: 1.0vw;
    border-color: white;
    width: 99%;
    font-size: 2vw;
    outline: none;
    vertical-align: bottom;
    height: 100%;
}